html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #FFFFFF;
  font-family: "Fira Code", monospace;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3em;
  flex: 1;
}

.card {
  display: flex;
  flex: 1 1 33.33%;
  flex-direction: column;
  margin: 1em;
  background-color: rgba(100, 100, 100, 0.50);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  width: 250px;
  height: 250px;
}

.card-header {
  background-color: rgba(90, 55, 55, 0.5);
  padding: 0.5em;
}

.card-body {
  padding: 1em;
  min-height: 3em;
}

.footer {
  align-self: center;
}
